<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/about.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/info/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="about-card">
            <h1>About</h1>
            <ul class="about-list">
                <li><strong>Imię</strong>: Mikołaj</li>
                <li><strong>Nazwisko</strong>: Krawczak</li>
                <li><strong>Rok akademicki</strong>: 2025/2026</li>
                <li><strong>Kierunek</strong>: Informayka stosowana</li>
                <li><strong>Grupa</strong>: K03</li>
            </ul>
        </section>
    </main>
</body>
</html>



